@import "../scss/custom";

// scss-docs-start import-stack
// Configuration
@import "../bootstrap/scss/functions";
@import "../bootstrap/scss/variables";
@import "../bootstrap/scss/variables-dark";
@import "../bootstrap/scss/maps";
@import "../bootstrap/scss/mixins";
@import "../bootstrap/scss/utilities";

// WP mixin
@import "../scss/mixins/root";
@import "../scss/mixins/reboot";
@import "../scss/mixins/align";
@import "../scss/mixins/general";
@import "../scss/mixins/table";
@import "../scss/mixins/blockquote";
@import "../scss/mixins/cover";


// Layout & components
@import "../bootstrap/scss/root";
@import "../bootstrap/scss/reboot";
@import "../bootstrap/scss/type";
@import "../bootstrap/scss/images";

html{
  margin-bottom: 28px;
  margin-top: 28px;
  max-width: 1320px;
}


$content-width: 1000px;


.mce-content-body {
    @include root;
    @include align;
    @include general;
    @include table;
    @include blockquote;
    @include cover;

    --#{$prefix}primary: #253B2F;
    --#{$prefix}primary-rgb: 37, 59, 47;
    --#{$prefix}secondary: #D2E0D9;
    --#{$prefix}secondary-rgb: 210, 224, 217;
    --#{$prefix}border-color: var(--#{$prefix}primary);
    --#{$prefix}link-color-rgb: var(--#{$prefix}primary-rgb);
    --#{$prefix}link-color: var(--#{$prefix}primary);
    --#{$prefix}link-hover-color: var(--#{$prefix}primary);
    --#{$prefix}link-hover-color-rgb: var(--#{$prefix}primary-rgb);
    --#{$prefix}body-bg: #F9FFFC;
    --#{$prefix}body-font-size: 18px;
    --#{$prefix}body-font-weight: 400;
    --#{$prefix}body-line-height: 160%;   
    --#{$prefix}body-font-family: 'Plus Jakarta Sans', sans-serif;
    --#{$prefix}body-color: var(--#{$prefix}primary);
    background-color: var(--#{$prefix}body-bg); // 2
  
  
  
  font-family: var(--#{$prefix}body-font-family);
  @include font-size(var(--#{$prefix}body-font-size));
  font-weight: var(--#{$prefix}body-font-weight);
  line-height: var(--#{$prefix}body-line-height);
  color: var(--#{$prefix}body-color);
  text-align: var(--#{$prefix}body-text-align);
  background-color: var(--#{$prefix}body-bg); // 2
  -webkit-text-size-adjust: 100%; // 3
  -webkit-tap-highlight-color: rgba($black, 0); // 4 
  padding-bottom: 0 !important;
  max-width: $content-width;  
  margin-left: 30px;
  margin-top: 30px;
  
  max-width: 900px;
}  

@import "../scss/typography";
@import "../scss/buttons";
@import "../scss/carousel";
@import "../scss/hero";
@import "../scss/header";
@import "../scss/about";
@import "../scss/gallery";
@import "../scss/service";
@import "../scss/team";
@import "../scss/video";
@import "../scss/testimonial";
@import "../scss/project";
@import "../scss/blog";
@import "../scss/shop";
@import "../scss/scroll";
@import "../scss/landing";
@import "../scss/global";